@media only screen and (max-width:767px) {
  .top-menu {
    text-align: left;
  }
  .search {
    margin-left: 10%;
  }
  .menu-links {
    margin-left: 0;
  }
  .footer .quick-links {
    margin-left: 0;
  }
  .footer .help,
  .footer .connect,
  .connect .facebook,
  .connect img {
    margin-left: 0;
  }
  .footer .quick-links {
    width: 142px;
  }
  .footer .help {
    width: 115px;
  }
  .footer .connect {
    width: 392px;
  }

  td,th,tr {
    display: block;
  }
  thead {
    display: none;
  }

  table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none;
  }
  div.quote {
    width: 236px;
    margin-left:0;
  }
  div.calculate-ship {
    text-align: left;
  }
  .registration {
    width: 392px;
    margin-left: 0;
  }
  .details .left-details,
  .details .right-details {
    margin-left: 0;
    width: 362px;
  }
  .details .right-details {
    border-left: none;
  }
  div.reviewer div {
    margin-left: 0;
  }
}